<!DOCTYPE html>
<html>
<head>
    <title>Fields</title>
</head>
<body>

<h1>Fields</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>

    {{#fields}}
        <tr>
            <td>{{fieldID}}</td>
            <td>{{fieldName}}</td>
        </tr>
    {{/fields}}

</table>

<br>

<a href="/fields/add">Add New Field</a>
<br><br>
<a href="/">Back to Home</a>

</body>
</html>