<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
</head>
<body>
<h1 style="text-align: center;">Success!</h1>

<p style="text-align: center;">
    Thank you. {{entityName}} data was added successfully!
</p>

<a style="font-weight: bold" href="/">Click on this link to return to the homepage.</a>
</body>
</html>